.header-body{
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
}
.header-body a{
    color: inherit;
    text-decoration: inherit;
}
.header-top-area{
    position: relative;
    height: 5em;
    width: 100%;
    pointer-events: all;
}
.header-top-logo-img{
    height: 100%;
    width: 100%;
}
.header-menu-pc-links{
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    display: flex;
    gap: 1em;
    color: #fff;
}
.header-menu-phone-area-open-button{
    display: none;

}
.header-menu-phone-area:not(.is-active){
    transform: translateX(100%);
}
.header-menu-phone-area{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background: #000000cf;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    transition: transform 0.5s ease;
}
.header-menu-phone-links{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}