body{
    background: #000;
    min-width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
}
.scroll-lock{
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
.main-section-margin{
    margin-top: 10rem;
    margin-bottom: 5rem;    
}
.accent-font-style{
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}
.normal-font-style{
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.home{
    position: relative;
    width: 100dvw;
    height: 100dvh;
    z-index: 3;
    
}
.home-video-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.home-video-box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1312185e;
    z-index: 1;
}
.home-video-box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000 0%,transparent 40%);
    background-size: 4px 4px;
    background-repeat: repeat;
    z-index: 1;
}
.home-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
.home-logo-img{
    position: absolute;
    height: 5em;
    aspect-ratio: 1/1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 3;
}
.home-title{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.home-title-pley{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.home-title-pley-button-box{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.2em;
}
.home-title-pley-button-icon{
    height: 3em;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    border: none;
    background: initial;
}
.home-title-pley-button-icon-img{
    width: inherit;
    height: inherit;
    background: initial;
}
.home-title-pley-button-text{
    padding: 0;
    margin: 0;
    border: none;
    background: initial;
    color: #fff;
    text-decoration:underline;
    font-size: 0.7em;
    font-family: inherit;
}
.home-title-pley-bar-box{
    width: 100%;
    height: 0.1em;
    border-radius: 0.05em;
    background-color: #2f2f2f;
}
.home-title-pley-bar{
    display: block;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    background-color: #fff;
}
.home-title-box{
    display: flex;
    flex-direction: column;
}
.home-title-main-title{
    margin: 0;
}
.home-title-sub-title{
    margin: 0;
}
.home-scroll{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform-origin: center right;
    transform:rotate(-90deg) translateY(-100%);
    color: #fff;
    z-index: 2;

}
.home-scroll-text{
    transform:rotate(180deg);

}
.home-scroll-anime-box{
    position: relative;
    display: block;
    width: 100vh;
    height: 0.1em;
    background-color: #484848;
    overflow: hidden;
    transform: rotate(180deg);
    border-radius: 0.05em;
}
.home-scroll-anime{
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    border-radius: inherit;
    transform: translate(-50%,-50%);
    background-color: #fff;
    animation: scroll 2s ease-in infinite;
}
@keyframes scroll {
    from{  transform: translate(-150%,-50%); }
    to{  transform: translate(100%,-50%); }
}

.about{
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    background-color: #000000;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    min-height: 200dvh;
}
.about-back{
    position:absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    pointer-events: none;
}
.about-back-box{
    position: relative;
    height: calc(100% - 50dvh);
    width: 100%;
    overflow: visible;
}
.about-back-img{
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    opacity: 0.5;
    aspect-ratio: 1/1;
    z-index: 0;
}
.about-title{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 5em;

}
.about-title-box{
    width: 100%;
    max-width: 10em;

}
.about-title-top{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: baseline;

}
.about-title-bottom{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: end;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3em;
    height: 100dvh;
    color: #fff;

}
.about-content-text{
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    max-width: 50em;
}
.about-content-highlight{
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    max-width: 50em;
    text-decoration: underline;
}



.process{
    margin-top: 2rem;
    position: relative;
    background: #484848;
    width: 100%;
    height: 200dvh;
}
.process-box{
    position: sticky;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 100dvh;
    background: #000000;
    display: grid;
    padding: 1em 0;
    grid-template-columns: 2em repeat(3,1fr) 2em;
    grid-template-rows:3em 3em 1fr 1fr 1fr 3em 3em;
    row-gap: 0;
    column-gap:0;
    grid-template-areas:
    ". title . . ."
    "area area area area area"
    "area area area area area"
    "area area area area area"
    "area area area area area"
    "area area area area area"
    ". . . . .";
}
.process-area{
    padding: 1em 0;
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: area;
    grid-template-columns: subgrid;
    grid-template-rows:subgrid;
    row-gap: 0;
    column-gap:0;
    grid-template-areas:
    ". . filter . ."
    ". . . . ."
    ". contents contents . ."
    ". . . . ."
    ". move move move ."
}
/* .process-grid-item{
    
} */
.process-title{
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    margin: 0;
    grid-area: title;
    color: #fff;
    font-size: 1.2em;
}
.process-filter{
    position: relative;
    z-index: 6;
    grid-area: filter;
    display: flex;
    gap:1.5em;
    justify-content:center;
}
.process-filter-button{
    appearance: none;
    border: none;
    background: none;
    color: #fff;
    padding:0;
}
.process-filter-button .is-active{
    text-decoration: underline;
}
.process-contents{
    grid-area: contents;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 2.5em repeat(3,1fr);
    grid-template-areas:
    "title title title title . ."
    "text text text text . ."
    "text text text text . ."
    "text text text text . ."
    ;
    color: #fff;
    height: 30dvh;
}
.process-contents-title{
    grid-area: title;
    position: relative;
    z-index: 6;
    text-decoration: underline;
    font-size: 1.5em;
    margin: 0;
}
.process-contents-text{
    grid-area: text;
    position: relative;
    z-index: 6;
    font-size: 1.2em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
.process-contents-text::-webkit-scrollbar{
    width:0.3em;
    height: 5px;
    border-left: #ffffff50 0.1em solid;
    border-right:  #ffffff50 0.1em solid;
}
.process-contents-text::-webkit-scrollbar-thumb{
    width: 100%;
    border-radius: 0.5em;
    border: #fff 1px solid;
    background-color: #ffffff00;
}
.process-contents-text:hover::-webkit-scrollbar-thumb{
    background-color: #ffffff80;
}
.process-contents-text::-webkit-scrollbar-track{
    height: 100%;
    border-bottom: #fff 0.1em solid;
    border-top:  #fff 0.1em solid;
}
.process-back-img{
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit:fill;
}
.process-move{
    position: relative;
    z-index: 6;
    grid-area: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    color: #fff;
}
.process-move-button{
    display: inline-block;
    background-image: url(../media/icon/arrow.svg);
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    appearance: none;
    margin: 0;
    border: 0;
    background-color: #00000000;
    color: inherit;

}
.process-move-back{
    transform: rotate(180deg);
}
/* .process-move-next{

} */
.process-move-progress{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background: #fff;
    height: 0.2em;
}
.process-move-progress-bar{
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2em;
    width: 100%;
    height: 0.2em;
    background: #fff;
    border-radius: 100%;

}
.process-move-progress-button{
    position: relative;
    height: 1em;
    appearance: none;
    border-radius: 100%;
    border: none;
    aspect-ratio: 1/1;
    background: #fff;
    transform: scale(1);
    transition: transform 1s ease;
}
.process-move-progress-button.is-active{
    transform: scale(1.1);
}
.process-move-progress-button::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background: #00000000;
    border-radius:50%;
    opacity: 0;
    border: #fff 1.5px solid;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 1s ease,opacity 1s ease;
}
.process-move-progress-button.is-active::before{
    transform: translate(-50%,-50%) scale(1.4);
    opacity: 1;

}

.softs{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5em;
}
.softs-title{
    margin: 0;
    font-size: 3em;
    margin: 0.5em 0;

}
.softs-about{
    display: flex;
    flex-direction: column;
    gap:2em;
}
.softs-about-body{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
.softs-about-title{
    margin: 0;
    font-size: 2em;

}
.softs-about-list{
    margin: 0;
    font-size: 1.5em;
    padding: 0;
    color: #ffffff95;
}
.softs-about-list li{
    list-style: none;
}

.credit{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
    flex-direction: column;
}
.credit-title{
    font-size: 3em;
    margin: 0;
}
.credit-about-body{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
}
.credit-about-list{
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.credit-about-bar{
    background-color: #fff;
    height: 100%;
    width: 0.1em;
    position: absolute;
    z-index: 6;
    animation: bar 1s ease-in-out 1;
}
@keyframes bar{
    from{height: 0%;}
    to{height: 100%;}
}
.credit-about-list-box{
    list-style: none;
    display: grid;
    grid-template-columns:1fr auto 1fr;
    grid-template-areas:"left center right";
    gap: 1em;
    animation-delay:calc(sibling-index() * 0.2s) ;

}
.credit-about-list-left{
    opacity: 0;
    grid-area: left;
    text-align: right;
    font-size: 1.5em;
    animation: start-left 1.2s ease-in-out 1 forwards;
    animation-delay: inherit;
}
.credit-about-list-center{
    grid-area: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
.credit-about-list-right{
    opacity: 0;
    grid-area: right;
    text-align: left;
    font-size: 1.5em;
    animation: start-right 1.2s ease-in-out 1 forwards;
    animation-delay: inherit;
}
@keyframes start-right{
    from{
        transform: translateX(5em);
        opacity: 0;
    }
    to  {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes start-left{
    from{
        transform: translateX(-5em);
        opacity: 0;
    }
    to  {
        transform: translateX(0);
        opacity: 1;
    }
}
.footer{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-thanks{
    font-size: 3em;
    width: 100%;
    height: 3em;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1em;
    
}
:root{
        --thanks-move-anime-time:20s;
}
.footer-thanks-message{
    position: absolute;
    display: flex;
    padding:0 0.5em;
    gap: 1em;
    left: 0%;
    transform: translateX(100%);
    animation: thanks-move var(--thanks-move-anime-time) infinite linear;
}
.footer-thanks-message:nth-child(2){
    animation-delay: calc(var(--thanks-move-anime-time) / 2);
}
@keyframes thanks-move{
    from{transform: translateX(100%)}
    to  {transform: translateX(-100%)}
}

.footer-thanks-message p{
    margin:0.2em 0;

}
.footer-detail{
    width: calc(100% - 5em);
    box-sizing: border-box;
    border: #fff 2px solid;
    border-radius: 1em;
    padding: 0.1em 0.5em;
}
.footer-detail-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
    padding-bottom: 0.2em;
    border-bottom: #ffffff00 1px solid;
}
.footer-detail:open .footer-detail-title{
    border-bottom: #ffffffa0 1px solid;
}
.footer-detail-content{
    overflow: hidden;
}
.footer-detail-title-text{
    display: block;

}
.footer-detail-title-icon{
    display: block;
    background-image: url(../media/icon/arrow.svg);
    background-repeat: no-repeat;
    height: 1em;
    aspect-ratio: 1/1;
    transform: rotate(0deg);
    transition:transform 0.2s ease-in-out ;
}
.footer-detail:open .footer-detail-title-icon{
    transform: rotate(90deg);
}