body{
    background: #000;
    overflow-x: hidden;
}
.accent-font-style{
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}
.normal-font-style{
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.home{
    position: relative;
    width: 100dvw;
    height: 100dvh;
    z-index: 3;
    
}
.home-video-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.home-video-box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1312185e;
    z-index: 1;
}
.home-video-box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000 0%,transparent 40%);
    background-size: 4px 4px;
    background-repeat: repeat;
    z-index: 1;
}
.home-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
.home-logo-img{
    position: absolute;
    height: 5em;
    aspect-ratio: 1/1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 3;
}
.home-title{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.home-title-pley{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.home-title-pley-button-box{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.2em;
}
.home-title-pley-button-icon{
    height: 3em;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    border: none;
    background: initial;
}
.home-title-pley-button-icon-img{
    width: inherit;
    height: inherit;
    background: initial;
}
.home-title-pley-button-text{
    padding: 0;
    margin: 0;
    border: none;
    background: initial;
    color: #fff;
    text-decoration:underline;
    font-size: 0.7em;
    font-family: inherit;
}
.home-title-pley-bar-box{
    width: 100%;
    height: 0.1em;
    border-radius: 0.05em;
    background-color: #2f2f2f;
}
.home-title-pley-bar{
    display: block;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    background-color: #fff;
}
.home-title-box{
    display: flex;
    flex-direction: column;
}
.home-title-main-title{
    margin: 0;
}
.home-title-sub-title{
    margin: 0;
}
.home-scroll{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform-origin: center right;
    transform:rotate(-90deg) translateY(-100%);
    color: #fff;
    z-index: 2;

}
.home-scroll-text{
    transform:rotate(180deg);

}
.home-scroll-anime-box{
    position: relative;
    display: block;
    width: 100vh;
    height: 0.1em;
    background-color: #484848;
    overflow: hidden;
    transform: rotate(180deg);
    border-radius: 0.05em;
}
.home-scroll-anime{
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    border-radius: inherit;
    transform: translate(-50%,-50%);
    background-color: #fff;
    animation: scroll 2s ease-in infinite;
}
@keyframes scroll {
    from{  transform: translate(-150%,-50%); }
    to{  transform: translate(100%,-50%); }
}

.about{
    box-sizing: border-box;
    background-color: #000000;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    min-height: 200dvh;
}
.about-back{
    position:absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    pointer-events: none;
}
.about-back-box{
    position: relative;
    height: calc(100% - 50dvh);
    width: 100%;
    overflow: visible;
}
.about-back-img{
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20em;
    opacity: 0.5;
    aspect-ratio: 1/1;
    z-index: 0;
}
.about-title{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 5em;

}
.about-title-box{
    width: 100%;
    max-width: 10em;

}
.about-title-top{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: baseline;

}
.about-title-bottom{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: end;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3em;
    height: 100dvh;
    color: #fff;

}
.about-content-text{
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    max-width: 50em;
}
.about-content-highlight{
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    max-width: 50em;
    text-decoration: underline;
}



.process{
    position: relative;
    background: #484848;
    width: 100%;
    height: 200dvh;
}
.process-box{
    position: sticky;
    box-sizing: border-box;
    border: #ff0000 2px solid;
    top: 0;
    width: 100%;
    height: 100dvh;
    background: #4343437a;
}
.process-area{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1em 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:2em 2em 1fr 1fr 1fr 2em 2em;
    row-gap: 0;
    column-gap:0;
    grid-template-areas:
    "title . ."
    ". filter ."
    ". . ."
    "contents . ."
    ". . ."
    "move move move"
    ". . .";
}
.process-grid-item{
    border: #fff 1px solid;
}
.process-title{
    display: flex;
    align-items: end;
    margin: 0;
    grid-area: title;
    color: #fff;
    font-size: 0.9em;
}
.process-filter{
    grid-area: filter;
    display: flex;
    justify-content: space-around;
}
.process-filter-button{
    appearance: none;
    border: none;
    background: none;
    color: #fff;
}
.process-contents{
    grid-area: contents;
    color: #fff;

}
.process-contents-title{
    text-decoration: underline;
    font-size: 1.5em;
    margin: 0;

}
.process-contents-text{
    font-size: 1.2em;
    overflow: hidden;
    margin: 0;
}
.process-back-img{
}
.process-move{
    grid-area: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.process-move-back{
    display: block;

}
.process-move-next{
    display: block;

}
.process-move-progress{
    display: block;
    width: 100%;
}